APLpy
asn1crypto
astropy
astropy-helpers
atomicwrites
attrs
backports.functools-lru-cache
backports.shutil-get-terminal-size
backports.ssl-match-hostname
blurhash
boost
cachetools
certifi
chardet
configparser
cwlref-runner
cwltool
cycler
Cython
decorator
funcsigs
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
httplib2
idna
iniparse
ipaddress
IPy
kitchen
kiwisolver
linecache2
Mastodon.py
matplotlib
mimeparse
mock
more-itertools
nose
numexpr
numpy==1.20.1
oauthlib
pandas
pluggy<0.7
Polygon
progressbar
psycopg2
py
pyasn1
pyasn1-modules
pyFFTW
pylru==1.2.0
pyparsing
pyregion
pytest<3.6.4
python-dateutil
python-magic
python-monetdb
pytz
pyvo
regions
requests
requests-oauthlib
rsa
scikit-learn>=0.24
scipy
six
SQLAlchemy
subprocess32
tables
toil
traceback2
tqdm
unittest2
uritemplate
urllib3
xmlrunner
