altair
asn1crypto
astLib
astropy<6
astropy-healpix
astropy-helpers
astroquery
atomicwrites
attrs
backports.functools-lru-cache
backports.shutil-get-terminal-size
backports.ssl-match-hostname
bces
bilby
blurhash
breizorro
boost
cachetools
certifi
chardet
codex-africanus[dask]
configparser
corner
cwlref-runner
cwl_utils
cycler
Cython
dask[complete]
deap
decorator
emcee
git+https://github.com/tikk3r/EveryStamp.git
funcsigs
future
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
httplib2
idna
iniparse
ipaddress
ipdb
ipython
jinja2
jupyterlab
IPy
kitchen
git+https://github.com/ratt-ru/kittens.git
kiwisolver
linecache2
loess
git+https://git.astron.nl/RD/LSMTool.git@v1.6
git+https://github.com/jurjen93/lofar_helpers.git
git+https://github.com/jurjen93/lofar_helpers@inference_script#subdirectory=neural_networks
Mastodon.py
matplotlib>3.9.0
markupsafe
mimeparse
mock
mocpy
more-itertools
nmmn
nose
numdifftools
numexpr
numpy<2
oauthlib
pluggy
polars
Polygon3
prettytable
progressbar
psutil
psycopg2
ptyprocess
py
pyasn1
pyasn1-modules
pybind11
py-cpuinfo
pyephem
pyFFTW
pylru
pymultinest
pymysql
pyparsing
pyregion
pytest
python-dateutil
python-magic
python-monetdb
pytz
pyvo
pywavelets
regions
reproject
requests
requests-oauthlib
RMextract[lofar-utils]==0.5.0
RM-Tools
rsa
rtree
ruamel.yaml
SciencePlots
scikit-learn
scipy<1.12
seaborn
scikit-build
sunpy
git+https://github.com/ratt-ru/shadeMS.git
six
sharedarray<3.2.2
shapely
SQLAlchemy
sshtunnel
statsmodels
subprocess32
tables
toil[cwl]==6.0.0
traceback2
tqdm
unittest2
uritemplate
urllib3
wheel
xmlrunner
