Cython
IPy
Kittens
Mastodon.py
Polygon3
RM-Tools
RMextract[lofar-utils]==0.5.0
SQLAlchemy
SciencePlots
altair
aplpy
asn1crypto
astLib
astropy-healpix
astropy>6
astroquery
atomicwrites
attrs
backports.functools-lru-cache
backports.shutil-get-terminal-size
backports.ssl-match-hostname
bces
bilby
blurhash
boost
boto3
botocore
breizorro
cachetools
certifi
chardet
cmcrameri
codex-africanus[dask]
configparser
corner
cwl_utils
cwlref-runner
oracledb
cycler
dask[complete]<=2024.8.2
deap
decorator
emcee
funcsigs
future
git+https://github.com/LOFAR-VLBI/astroNNomy.git
git+https://github.com/jurjen93/lofar_helpers.git
git+https://github.com/jurjen93/lofar_helpers@inference_script#subdirectory=neural_networks
git+https://github.com/jurjen93/sidereal_visibility_avg
git+https://github.com/ratt-ru/kittens.git
-e "git+https://github.com/sara-nl/cortExchange#egg=cortexchange"
git+https://github.com/tikk3r/EveryStamp.git
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
httplib2
idna
iniparse
ipaddress
ipdb
ipython
jinja2
kitchen
kiwisolver
legacystamps
linecache2
loess
lofar-h5plot
lsmtool
markupsafe
matplotlib>3.9.0
mimeparse
mock
mocpy
more-itertools
mypy_boto3_s3
nmmn
nose
numdifftools
numexpr
numpy<2
oauthlib
pluggy
polars
prettytable
progressbar
psutil
psycopg2-binary
ptyprocess
py
py-cpuinfo
pyFFTW
pyasn1
pyasn1-modules
pybind11
pyephem
pylru
pymultinest
pymysql
pyparsing
pyregion
pytest
python-dateutil
python-magic
python-monetdb
pytz
pyvo
pywavelets
regions
reproject
requests
requests-oauthlib
rsa
rtree
ruamel.yaml
scikit-build
scikit-fuzzy
scikit-learn
scipy
seaborn
shapely
sharedarray
six
sshtunnel
spherical-geometry
spinifex
statsmodels
subprocess32
sunpy
tables
toil[cwl]==6.0.0
tqdm
traceback2
unittest-xml-reporting
unittest2
uritemplate
urllib3
