altair
aplpy
asn1crypto
astLib
astropy-healpix
astropy>6
astroquery
atomicwrites
attrs
backports.functools-lru-cache
backports.shutil-get-terminal-size
backports.ssl-match-hostname
bces
bilby
blurhash
boost
breizorro
cachetools
certifi
chardet
codex-africanus[dask]
configparser
corner
cwl_utils
cwlref-runner
cx_Oracle
cycler
Cython
dask[complete]
deap
decorator
emcee
funcsigs
future
git+https://git.astron.nl/RD/LSMTool.git@v1.6
git+https://github.com/jurjen93/lofar_helpers.git
git+https://github.com/jurjen93/lofar_helpers@inference_script#subdirectory=neural_networks
git+https://github.com/ratt-ru/kittens.git
git+https://github.com/ratt-ru/shadeMS.git
git+https://github.com/tikk3r/EveryStamp.git
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
httplib2
idna
iniparse
ipaddress
ipdb
IPy
ipython
jinja2
jupyterlab
kitchen
kiwisolver
linecache2
loess
markupsafe
Mastodon.py
matplotlib>3.9.0
mimeparse
mock
mocpy
more-itertools
nmmn
nose
numdifftools
numexpr
numpy<2
oauthlib
pluggy
polars
Polygon3
prettytable
progressbar
psutil
psycopg2
ptyprocess
py
py-cpuinfo
pyasn1
pyasn1-modules
pybind11
pyephem
pyFFTW
pylru
pymultinest
pymysql
pyparsing
pyregion
pytest
python-dateutil
python-magic
python-monetdb
pytz
pyvo
pywavelets
regions
reproject
requests
requests-oauthlib
RM-Tools
RMextract[lofar-utils]==0.5.0
rsa
rtree
ruamel.yaml
SciencePlots
scikit-build
scikit-learn
scipy
seaborn
shapely
sharedarray
six
SQLAlchemy
sshtunnel
statsmodels
subprocess32
sunpy
tables
toil[cwl]==6.0.0
tqdm
traceback2
unittest2
uritemplate
urllib3
wheel
unittest-xml-reporting
